<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='Media/favicon.png') }}" type="image/x-icon">    <meta charset="UTF-8">
    <title>USS Event Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Calender.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Main/General.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Main/Header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Main/Sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/EventsContent.css') }}">
</head>

<!--#######################################################################################################-->
<!--#################################       Navigation bar        ########################################-->
<!--#######################################################################################################-->

<body>
    <section itemscope itemtype="http://schema.org/Organization">
        <header>
            <div id="LogoIconDiv">
                <a href="/Student-Portal"><img src="{{ url_for('static', filename='Media/CSU_logo_white.svg') }}" alt="Logo"></a>
            </div>  

            <nav itemscope itemtype="http://schema.org/SiteNavigationElement" id="HeaderNav">
                <div id="HeaderNavDiv">
                    <!--Insert desgin here-->
                </div>
                    
                <section id="HeaderNavSec">
                    <ul>
                        <li><a href="/" target="_self">Home</a></li>
                        <li><a href="/About" target="_self">About</a></li>
                        <li><a href="/Contact" target="_self">Contact</a></li>
                        <li><a href="/Events" target="_self">Events</a></li>
                        <li><a href="/Gallery" target="_self">Gallery</a></li>
                        <li><a href="/What's new" target="_self">What's New</a></li>
                    </ul>
                </section>
            </nav>



            <div id="ProfileDiv">
                <a href="{{ url_for('profile') }}"><img id="ProfileIcon" src="{{ url_for('static', filename='Media/profile-pic.jpg') }}" alt="Profile"></a>
                
                <a href="{% if session.get('first_name') %}{{ url_for('profile') }}{% else %}{{ url_for('login') }}{% endif %}">
                    <p id="ProfileUsername">
                        {% if session.get('first_name') %}
                            {{ session.get('first_name') }} {{ session.get('last_name') }}
                        {% else %}
                            Log in / Sign up
                        {% endif %}
                    </p>
                </a>
            </div>
        
        </header>

<!--########################################################################################################-->
        <div id="MainContainer">


<!--########################################################################################################-->
<!--####################################      SideBar       ################################################-->
<!--########################################################################################################-->


            <aside id="SideBar"> 
                <nav itemscope itemtype="http://schema.org/SiteNavigationElement"><!--flex-->
                    <ul>
                        <li><a href="/Schedule" target="_self">Schedule</a></li> 
                        <li><a href="/Favourites" target="_self">Favourites</a></li>
                        <li><a href="/Notifications" target="_self">Notifications</a></li>
                        <li><a href="/Student Help" target="_self">Help</a></li>                        
                        <li><a href="/Fees" target="_self">Fees</a></li>
                    </ul>
                </nav>
            </aside>
        

<!--#######################################################################################################-->


            <main>

                <h2>Events</h2>

                <div id="Columns">

                    <div id="Column1">
                        <div id="EventBox">
                            <div id="EventWrapper">
                                <div class="Event" onclick="toggleEvent(this)">
                                    <h3>misc event</h3>
                                        <div class="Event-summary-preview">Click to view details</div>
                                            <div class="Event-dropdown">
                                                <div class="EventDetails">
                                                    <p>Date: Oct 12, 2026</p>
                                                    <p>Time: 2:00pm - 4:00pm</p>
                                                    <p>Location: Building 12, Room01</p>
                                                    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                </div>

                                                <div class="FavWrapper">
                                                    <button class="FavButton"></button>
                                                </div>

                                                <div class="InterestedWrapper">
                                                    <button class="Interested">I'm interested</button>

                                                </div>

                                                <div class="QRWrapper">

                                                </div>
                                            </div>

                                </div>



                                
                            </div>
                        </div>

                    </div>

                    <div id="Column2">
                        <div class="Box">
                            <div id="Calender">
                                <div id="calendar-header">
                                    <button type="button" onlick="ChangeMonth(-1)">&lt; prev</button>
                                    <h3 id="month-year-display">Month Year</h3>
                                    <button type="button" onlick="ChangeMonth(1)">Next &gt;</button>
                                </div>

                                <div class="calendar-weekdays">
                                    <div>Mon</div>
                                    <div>Tue</div>
                                    <div>Wed</div>
                                    <div>Thu</div>
                                    <div>Fri</div>
                                    <div>Sat</div>
                                    <div>Sun</div>
                                </div>

                                <div id="days-container" class="calendar-days-grid"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </main>

        </div>

<!--#######################################################################################################-->


    </section>
</body>