<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='Media/favicon.png') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>USS Event Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Main/General.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Log in/loginheader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Log in/loginheader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Log-inContent.css') }}">
</head>

<!--#######################################################################################################-->
<!--#################################       Navigation bar        ########################################-->
<!--#######################################################################################################-->

<body>
    <section itemscope itemtype="http://schema.org/Organization">
        <header>
            <div id="LogoIconDiv">
                <a href="/Student-Portal"><img src="{{ url_for('static', filename='Media/CSU_logo_white.svg') }}" alt="Logo"></a>
            </div>    

            <nav itemscope itemtype="http://schema.org/SiteNavigationElement" id="HeaderNav">
                <div id="HeaderNavDiv">
                    <!--Insert desgin here-->
                </div>
                    
                <section id="HeaderNavSec">
                    <ul>
                        <li><a href="/" target="_self">Home</a></li>
                        <li><a href="/About" target="_self">About</a></li>
                        <li><a href="/Contact" target="_self">Contact</a></li>
                        <li><a href="/Events" target="_self">Events</a></li>
                        <li><a href="/Gallery" target="_self">Gallery</a></li>
                        <li><a href="/What's new" target="_self">What's New</a></li>
                    </ul>
                </section>
            </nav>



            <div id="ProfileDiv">
                <a href="{{ url_for('profile') }}"><img id="ProfileIcon" src="{{ url_for('static', filename='Media/profile-pic.jpg') }}" alt="Profile"></a>
                
                <a href="{{ url_for('profile') if user else url_for('login') }}">
                    <p id="ProfileUsername">
                        {% if user %}
                            {{ user['first_name'] }} {{ user['last_name'] }}
                        {% else %}
                            Log in / Sign up
                        {% endif %}
                    </p>
                </a>
            </div>
        
        </header>

<!--########################################################################################################-->
        <div id="MainContainer">        

<!--#######################################################################################################-->


            <main>
                <h2>Log in</h2>
                <form action="{{ url_for('login') }}" method="POST">
                    <fieldset id="Form">

                        <!-- Username or Email input-->
                        <label for="username_or_email">Username or Email:</label>
                        <input type="text" id="username_or_email" name="username_or_email" required>
                        <br>

                        <!-- Password Input (No sticky value for security) -->
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                        <br>

                        <!-- login link -->
                        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>

                        <!-- Button for submitting data -->
                        <button id="submit-button"type="submit">Log in</button>
                    </fieldset>
                </form>
                    <div>
                        <!-- Sign up link -->
                        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
                    </div>

               
              
            </main>

        </div>

<!--#######################################################################################################-->


    </section>
</body>