<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='Media/favicon.png') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>USS Event Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Main/General.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Log in/loginheader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Log in/loginheader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Log-inContent.css') }}">
</head>

<!--#######################################################################################################-->
<!--#################################       Navigation bar        ########################################-->
<!--#######################################################################################################-->

<body>
    <section itemscope itemtype="http://schema.org/Organization">
        <header>
            <div id="LogoIconDiv">
                <a href="/Student-Portal"><img src="{{ url_for('static', filename='Media/CSU_logo_white.svg') }}" alt="Logo"></a>
            </div>      

            <nav itemscope itemtype="http://schema.org/SiteNavigationElement" id="HeaderNav">
                <div id="HeaderNavDiv">
                    <!--Insert desgin here-->
                </div>
                    
                <section id="HeaderNavSec">
                    <ul>
                        <li><a href="/" target="_self">Home</a></li>
                        <li><a href="/About" target="_self">About</a></li>
                        <li><a href="/Contact" target="_self">Contact</a></li>
                        <li><a href="/Events" target="_self">Events</a></li>
                        <li><a href="/Gallery" target="_self">Gallery</a></li>
                        <li><a href="/What's new" target="_self">What's New</a></li>
                    </ul>
                </section>
            </nav>



            <div id="ProfileDiv">
                <a href="{{ url_for('profile') }}"><img id="ProfileIcon" src="{{ url_for('static', filename='Media/profile-pic.jpg') }}" alt="Profile"></a>
                
                <a href="{{ url_for('profile') if user else url_for('login') }}">
                    <p id="ProfileUsername">
                        {% if user %}
                            {{ user['first_name'] }} {{ user['last_name'] }}
                        {% else %}
                            Log in / Sign up
                        {% endif %}
                    </p>
                </a>
            </div>
        
        </header>

<!--########################################################################################################-->
        <div id="MainContainer">        

<!--#######################################################################################################-->


            <main>
                <h2>Sign up</h2>
                <form action="{{ url_for('signup') }}" method="POST">
                    <fieldset id="Form">
                        <!-- First Name Input -->
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name" value="{{ request.form.get('first_name', '') }}" required>
                        <br>

                        <!-- Last Name Input -->
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" value="{{ request.form.get('last_name', '') }}" required>
                        <br>

                        <!-- Email Input -->
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" value="{{ request.form.get('email', '') }}" required>
                        <br>

                        <!-- Password Input (No sticky value for security) -->
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                        <br>

                        <!-- Date of Birth Input -->
                        <label for="dob">Date of Birth:</label>
                        <input type="date" id="dob" name="dob" value="{{ request.form.get('dob', '') }}" required>
                        <br>

                        <!-- Button for submitting data -->
                        <button id="submit-button"type="submit">Sign Up</button>
                    </fieldset>
                </form>
                    <div>
                        <!-- Cleaned up login link -->
                        <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
                    </div>
               
              
            </main>

        </div>

<!--#######################################################################################################-->


    </section>
</body>